.container
  =form_for @argument do |f|
    =f.label :claim
    =f.input :claim
    =f.label :warrant
    =f.input :warrant
    =f.label :impact
    =f.input :impact
    =f.label :citation
    =f.input :citation
    =f.hidden :contention_id
    =f.submit class:"btn-flat"
