// colors
$base: #ff9800; //orange (baseline)
$opaquebasecolor: #DDDDDD; //silver
$maintextcolor: #e65100; //orange darken-4
$formfieldbackground: #D0D0D0;
$formfieldbackgroundfocus: #FFFFFF;
$orange-lighten-5: #fff3e0;
