html {
  background: #fff;
}

body {
  color: #000;
}

.container {
  margin: 2% auto;
  padding: 9px;
  max-width: 960px;
  background-color: #fff;
}

.container form input {
  padding-left: 10px;
}
