body.debates {
  background: #fff;
  color: #000;
}

.debate-container {
  margin: 2% auto;
  padding: 9px;
  width: 95%;
  background-color: #fff;
}

.debate-container form input {
  padding-left: 10px;
}

.btn-flat {
  color: $maintextcolor;
}

.speech-container {
  margin: 1px;
  padding: 1px;
  float:left;
}

.align-right {
  text-align: right;
  font-size: 0.8em;
  margin: 5px 5px 0 0;
  padding: 0;
}

ol, ul {
  list-style-position: outside;
  padding: 0 0 0 1em;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

// Argument defintion lists
dl {
  width: 100%;
  margin: 0;
  padding: 0;
}

dt {
  padding: 0;
  margin: 0;
  font-size: 0.8em;
  font-weight: 600;
}

dd {
  padding: 0 0 0 1em;
  margin: 0 0 3px 0;
}

// Speech#new select statement
.select-div select {
  display: block;
}

// formatting for the FAB floating action button in debate#show
.fixed-action-btn.horizontal {
  position: relative;
  top: 10px;

}

.fixed-action-btn.horizontal ul {
  transform: translateY(-200%);
  left: 25px;
  right: inherit;
  text-align: left;
}


// error messages
.error-message {
  color: #FF0000;
  font-weight: 600;
  font-size: 1.1em;
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% { opacity: 0.0; }
}

// ordered list on contentions - need to override the materialize css
.contention .container .row {
  margin-left: 0;
  margin-right: 0;
}

.contention .container .row li:hover {
  transform: scale(1.1);
  background-color: $orange-lighten-5;
  padding: 3px;
  z-index: 100;
}

.contention .select-div select {
  width: 20%;
  min-width: 90px;
}

// making the buttons responsive in speech#edit & speech#new
.contention a.btn-flat, .contention input.btn-flat {
  padding: 12px;
  height: auto;
  line-height: normal;
}
