body.debates {
  background: #fff;
  color: #000;
}

.debate-container {
  margin: 2% auto;
  padding: 9px;
  width: 90%;
  background-color: #fff;
}

.debate-container form input {
  padding-left: 10px;
}

.btn-flat {
  color: $maintextcolor;
}
