html {
  background: url('https://s3-us-west-1.amazonaws.com/debaterbucket1/debater.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  color: $maintextcolor;
}

.container {
  margin: 20% auto;
  padding: 9px;
  max-width: 630px;
  background-color: rgba(0.65, 0.65, 0.65, 0.75);
}

.container form input {
  padding-left: 10px;
}
