.container
  %h4 New Contention
  =form_for [@speech, @contention] do |f|
    =f.label :topic
    =f.text_field :topic
    =f.label :summary
    =f.text_area :summary
    .row
      =f.submit class: 'btn-flat'
      =link_to 'Cancel', edit_speech_path(@speech), class: 'btn-flat'
