- if affirmative
  -if @debate.positions.aff.count == 0
    .col.s12.m12.l3
      .speech-container
        .row
          .card-panel
            Take the affirmative position to enter your argument
  - elsif @debate.positions.aff.count > 0
    .col.s12.m12.l3
      .speech-container
        .row
          .card-panel
            - if !(defined? @debate.positions.aff.first.speeches) || (@debate.positions.aff.first.speeches.count == 0)
              Create a speech
              .fixed-action-btn.horizontal
                =link_to '', class: "btn-floating orange darken-3" do
                  %i.material-icons add
                %ul
                  %li
                    =link_to new_speech_path(speech_name: 'OneAC', position: @debate.positions.aff.first), class: "btn-floating red" do
                      %i.material-icons chat
            - else
              - if @debate.positions.aff.first.speeches.first.speech_name == 'OneAC'
                %h5 Speech: #{@debate.positions.aff.first.speeches.first.speech_name}
                %p Click the orange 'edit' button below to add some contentions and examples to prove your point
                .fixed-action-btn.horizontal
                  =link_to '', class: "btn-floating orange darken-3" do
                    %i.material-icons mode_edit
                  %ul.floating-options
                    %li
                      =link_to edit_speech_path(@debate.positions.aff.first.speeches.first), class: "btn-floating red" do
                        %i.material-icons chat
                    %li
                      =link_to @debate, class: "btn-floating yellow" do
                        %i.material-icons grade
                    %li
                      =link_to @debate, class: "btn-floating green" do
                        %i.material-icons thumb_up
                    %li
                      =link_to @debate, class: "btn-floating brown" do
                        %i.material-icons thumb_down
-else
  -if @debate.positions.neg.count == 0
    .col.s12.m12.l3
      .speech-container
        .row
          .card-panel
            Take the negative position to enter your argument
  -elsif @debate.positions.neg.count > 0
    .col.s12.m12.l3
      .speech-container
        .row
          .card-panel
            - if !(defined? @debate.positions.neg.first.speeches) || (@debate.positions.neg.first.speeches.count == 0)
              Create a speech
              .fixed-action-btn.horizontal
                =link_to '', class: "btn-floating orange darken-3" do
                  %i.material-icons add
                %ul
                  %li
                    =link_to new_speech_path(speech_name: 'OneNC', position: @debate.positions.neg.first), class: "btn-floating red" do
                      %i.material-icons chat
            - else
              - if @debate.positions.neg.first.speeches.first.speech_name == 'OneNC'
                %h5 Speech: #{@debate.positions.neg.first.speeches.first.speech_name}
                %p Click the orange 'edit' button below to add some contentions and examples to prove your point
                .fixed-action-btn.horizontal
                  =link_to '', class: "btn-floating orange darken-3" do
                    %i.material-icons mode_edit
                  %ul.floating-options
                    %li
                      =link_to edit_speech_path(@debate.positions.neg.first.speeches.first), class: "btn-floating red" do
                        %i.material-icons chat
                    %li
                      =link_to @debate, class: "btn-floating yellow" do
                        %i.material-icons grade
                    %li
                      =link_to @debate, class: "btn-floating green" do
                        %i.material-icons thumb_up
                    %li
                      =link_to @debate, class: "btn-floating brown" do
                        %i.material-icons thumb_down
