.container.debate-container
  .row
    .col.s12
      %h1 all debates
  .row
    .col.s12
      %h4 Debates by Topic
  .row
    .col.s12
      %p=link_to 'Civil Disobedience in a democracy is morally justified', ''
  .row
    .col.s12
      %p=link_to 'In the U.S.A., private ownership of handguns ought to be banned.',''
