.container
  .row.s12.l12
    %h4 New speech: #{@speech.speech_name}
    = form_for [@debate, @speech] do |f|
      =f.label :speech_name
      .select-div
        =f.select :speech_name, collection: @dropdown_options, selected: @speech.speech_name
      =f.label :position
      =f.text_field :position_id, readonly: true
      .row
        =f.submit class: 'btn-flat'
        =link_to 'Back', :back, class: 'btn-flat'
